@import "tailwindcss";

html, body, #root {
  min-height: 100%;
  background-color: #f8f6ff;
  background-image: url('/assets/Background pattern.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
